<div class="lr-submenu-buttons">
	<span id="lr-tab-basic" class="lr-buttons lr-tab-active" data-tab="lr-basic">Basic</span>
	<span id="lr-tab-extened" class="lr-buttons" data-tab="lr-extened">Extended</span>
	<% if(session[:user_profile]['Provider'] != 'RAAS') %>
	<span id="lr-tab-contact" class="lr-buttons" data-tab="lr-contact">Contacts</span>
	<span id="lr-tab-likes" class="lr-buttons" data-tab="lr-likes">Likes</span>
	<span id="lr-tab-albums" class="lr-buttons" data-tab="lr-albums">Albums</span>
	<span id="lr-tab-checkins" class="lr-buttons" data-tab="lr-checkins">Checkins</span>
	<span id="lr-tab-audio" class="lr-buttons" data-tab="lr-audio">Audio</span>
	<span id="lr-tab-mentions" class="lr-buttons" data-tab="lr-mentions">Mentions</span>
	<span id="lr-tab-following" class="lr-buttons" data-tab="lr-following">Following</span>
	<span id="lr-tab-events" class="lr-buttons" data-tab="lr-events">Events</span>
	<span id="lr-tab-posts" class="lr-buttons" data-tab="lr-posts">Posts</span>
	<span id="lr-tab-companies" class="lr-buttons" data-tab="lr-companies">Companies</span>
	<span id="lr-tab-groups" class="lr-buttons" data-tab="lr-groups">Groups</span>
	<span id="lr-tab-status" class="lr-buttons" data-tab="lr-status">Status</span>
	<span id="lr-tab-videos" class="lr-buttons" data-tab="lr-videos">Videos</span>
	<%
		if(session[:user_profile]['Provider'] == 'facebook' || session[:user_profile]['Provider'] == 'twitter' || session[:user_profile]['Provider'] == 'linkedin')
	%>
	<span id="lr-tab-poststatus" class="lr-buttons" data-tab="lr-poststatus">Post Status</span>
	<%
	end;
		if(session[:user_profile]['Provider'] == 'twitter' || session[:user_profile]['Provider'] == 'linkedin')
	%>
	<span id="lr-tab-sendmessage" class="lr-buttons" data-tab="lr-sendmessage">Send Message</span>
	<%
	end;
end; %>	
</div>

<div id="lr-basic" class="lr-frame lr-subframe lr-tab-active">
	<form action="" method="post">
		<label class="lr-input-frame lr-inline"> <span class="lr-input-label">FirstName</span>
			<input type="text" placeholder="FirstName" name ="FirstName" value="<%= session[:user_profile]['FirstName']%>" >
		</label>
		<label class="lr-input-frame lr-inline"> <span class="lr-input-label">LastName</span>
			<input type="text" placeholder="LastName" name ="LastName" value="<%= session[:user_profile]['LastName']%>" >
		</label>
		<label class="lr-input-frame lr-inline"> <span class="lr-input-label">BirthDate</span>
			<input type="text" placeholder="BirthDate" name ="BirthDate" class="loginradius-raas-birthdate" value="<%= session[:user_profile]['BirthDate']%>" >
		</label>
		<label class="lr-input-frame lr-inline"> <span class="lr-input-label">Email</span>
			<input type="text" placeholder="Email" name ="Email" disabled="disabled" value="<%= session[:user_profile]['Email']%>" >
		</label>
		<label class="lr-input-frame lr-inline"> <span class="lr-input-label">Country</span>
			<input type="text" placeholder="Country" name ="Country" value="<%= session[:user_profile]['Country']%>" >
		</label>
		<label class="lr-input-frame lr-inline"> <span class="lr-input-label">City</span>
			<input type="text" placeholder="City" name ="City" value="<%= session[:user_profile]['City']%>" >
		</label>
		<div class="lr-submit-frame lr-align-right">
			<input name="update" type="submit" value="Save">
		</div>
	</form>
</div>
<div id="lr-extened" class="lr-frame lr-subframe lr-extened lr-align-left"></div>
<% if(session[:user_profile]['Provider'] != 'RAAS') %>
<div id="lr-contact" class="lr-frame lr-subframe lr-contact lr-align-left"></div>
<div id="lr-likes" class="lr-frame lr-subframe lr-likes lr-align-left"></div>
<div id="lr-albums" class="lr-frame lr-subframe lr-albums lr-align-left"></div>
<div id="lr-checkins" class="lr-frame lr-subframe lr-checkins lr-align-left"></div>
<div id="lr-audio" class="lr-frame lr-subframe lr-audio lr-align-left"></div>
<div id="lr-mentions" class="lr-frame lr-subframe lr-mentions lr-align-left"></div>
<div id="lr-following" class="lr-frame lr-subframe lr-following lr-align-left"></div>
<div id="lr-events" class="lr-frame lr-subframe lr-events lr-align-left"></div>
<div id="lr-posts" class="lr-frame lr-subframe lr-posts lr-align-left"></div>
<div id="lr-companies" class="lr-frame lr-subframe lr-companies lr-align-left"></div>
<div id="lr-groups" class="lr-frame lr-subframe lr-groups lr-align-left"></div>
<div id="lr-status" class="lr-frame lr-subframe lr-status lr-align-left"></div>
<div id="lr-videos" class="lr-frame lr-subframe lr-videos lr-align-left"></div>
<%
		if(session[:user_profile]['Provider'] == 'facebook' || session[:user_profile]['Provider'] == 'twitter' || session[:user_profile]['Provider'] == 'linkedin')
	%>
	<div id="lr-poststatus" class="lr-frame lr-subframe lr-poststatus lr-align-left">
		<form action='' onsubmit="return false">
        <h2>Post Status</h2>
        <div id="poststratus"></div>
        <br>
        <label for="posttitle" class="faclable">Title :</label>
        <input type="text" id="posttitle" class="factextbox"><br/>
        <% if (session[:user_profile]['Provider'] == 'twitter') %>
            <label for="posturl" class="faclable">URL :</label>
            <input type="text" id="posturl" value="" class="factextbox"><br/>
            <label for="postimageurl" class="faclable">Image URL :</label>
            <input type="text" id="postimageurl" class="factextbox"><br/>
        <% end; %>
        <label for="poststatus" class="faclable">Message :</label>
        <textarea id="poststatus" class="facetextarea"></textarea><br/>
        <% if (session[:user_profile]['Provider'] == 'twitter') %>
            <label for="postdescription" class="faclable">Description :</label>
            <textarea id="postdescription" class="facetextarea"></textarea>
            <br/>
        <% end; %>
        <div class="lr-submit-frame lr-align-right">
        <button onClick="lrpoststratus();" class="facesend">Send</button>
        </div>
        </form>
    </div>
	<%
	end;
		if(session[:user_profile]['Provider'] == 'twitter' || session[:user_profile]['Provider'] == 'linkedin')
	%>
	<div id="lr-sendmessage" class="lr-frame lr-subframe lr-sendmessage lr-align-left">
		<form action='' onsubmit="return false">
    <h2>Send Message</h2>
    <div id="sendmessage"></div><br>
    <label for="sendto" class="faclable">To :</label><select class="twilist" name="sendto" id="sendto"><option value=""> --- Select --- </option></select><br/>
    <label for="sendsub" class="faclable">Subject :</label><input type="text" id="sendsub" class="factextbox"><br/>
    <label for="sendstatus" class="faclable">Message :</label><textarea id="sendstatus" class="facetextarea"></textarea><br/>
    <div class="lr-submit-frame lr-align-right">
    <button onClick="lrsendmessage();" class="facesend">Send</button>
    </form>
    </div>
</div>
	<%
	end;
end; %>
<script>
j(document).ready(function(){
	getAjaxRequest('lr-extened', {"access_token":"<%=session[:access_token]%>","func":'extendedProfile'});
	<% if(session[:user_profile]['Provider'] != 'RAAS') %>
	getAjaxRequest('lr-contact', {"access_token":"<%=session[:access_token]%>","func":'contact'});
	getAjaxRequest('lr-likes', {"access_token":"<%=session[:access_token]%>","func":'likes'});
	getAjaxRequest('lr-albums', {"access_token":"<%=session[:access_token]%>","func":'albums'});
	getAjaxRequest('lr-checkins', {"access_token":"<%=session[:access_token]%>","func":'checkins'});
	getAjaxRequest('lr-audio', {"access_token":"<%=session[:access_token]%>","func":'audio'});
	getAjaxRequest('lr-mentions', {"access_token":"<%=session[:access_token]%>","func":'mentions'});
	getAjaxRequest('lr-following', {"access_token":"<%=session[:access_token]%>","func":'following'});
	getAjaxRequest('lr-events', {"access_token":"<%=session[:access_token]%>","func":'events'});
	getAjaxRequest('lr-posts', {"access_token":"<%=session[:access_token]%>","func":'posts'});
	getAjaxRequest('lr-companies', {"access_token":"<%=session[:access_token]%>","func":'companies'});
	getAjaxRequest('lr-groups', {"access_token":"<%=session[:access_token]%>","func":'groups'});
	getAjaxRequest('lr-status', {"access_token":"<%=session[:access_token]%>","func":'status'});
	getAjaxRequest('lr-videos', {"access_token":"<%=session[:access_token]%>","func":'videos'});
	<% end; %>
});
function lrsendmessage(){
	j("#sendmessage").html('<img src="assets/profile_loading.gif"/>');
	var to = j("#sendto").val();
	var subject = j("#sendsub").val();
	var message = j("#sendstatus").val();
    if (to == '') {
	   j("#sendmessage").html('<div class="Error">Please enter send email</div>');
	   return false;
	}
	else if (subject == '') {
	   j("#sendmessage").html('<div class="Error">Please enter Subject</div>');
	   return false;
	}
	else if (message == '') {
	   j("#sendmessage").html('<div class="Error">Please enter Message</div>');
	   return false;
	}
	
	j.ajax({
		url: "ajax", 
		type: "POST", 
		data:{
			"access_token":"<%=session[:access_token]%>",
			"func":'sendmessage',
			"to" : to,
			"subject" : subject,
			"message" : message,
		},
		success: function(result){
			jsonobj = j.parseJSON(result.replace(/&quot;/g, "\""));
			if(jsonobj.isPosted == true){
				j("#sendmessage").html('<div class="Success">Message has been Posted</div>');
			}else{
				j("#sendmessage").html('<div class="Error">'+jsonobj.description+'</div>');
			}
			j('input[type=text],textarea').val('');
		}
	});
}
function lrpoststratus(){
	j("#poststratus").html('<img src="assets/profile_loading.gif"/>');
	
	var title = j("#posttitle").val();
    var url = '';
    var imageurl = '';
    var description = '';
    <% if(session[:user_profile]['Provider'] != 'twitter') %>
        url = j("#posturl").val();
        imageurl = j("#postimageurl").val();
        description = j("#postdescription").val();
    <% end; %>
    var status = j("#poststatus").val();
    if (title == '') {
	   j("#poststratus").html('<div class="Error">Please enter Post Title</div>');
	   return false;
	}
   <% if(session[:user_profile]['Provider'] != 'twitter') %>
	if (url == '') {
	   j("#poststratus").html('<div class="Error">Please enter Post URL</div>');
	   return false;
	}
	if (imageurl == '') {
	   j("#poststratus").html('<div class="Error">Please enter Image URL</div>');
	   return false;
	}
	if (description == '') {
	   j("#poststratus").html('<div class="Error">Please enter Description</div>');
	   return false;
	}
	<% end; %>
    if (status == '') {
       j("#poststratus").html('<div class="Error">Please enter Message</div>');
       return false;
    }
    
	j.ajax({
		url: "ajax", 
		type: "POST", 
		data:{
			"access_token":"<%=session[:access_token]%>",
			"func":'poststratus',
			"title" : title,
			"url" : url,
			"imageurl" : imageurl,
			"status" : status,
			"description" : description
		},
		success: function(result){
			jsonobj = j.parseJSON(result.replace(/&quot;/g, "\""));
			if(jsonobj.isPosted == true){
				j("#poststratus").html('<div class="Success">Message has been Posted</div>');
			}else{
				j("#poststratus").html('<div class="Error">'+jsonobj.description+'</div>');
			}
			j('input[type=text],textarea').val('');
		}
	});
}
function getAjaxRequest(id, postData){
	j("#"+id).html('<img src="assets/profile_loading.gif"/>');
	j.ajax({url: "ajax", type: "POST", data:postData, success: function(result){
		jsonobj = j.parseJSON(result.replace(/&quot;/g, "\""));
		if(typeof jsonobj.errorCode != 'undefined' || jsonobj.length<1){
			j("#"+id).hide();
			j("#"+id.replace('lr-', "lr-tab-")).hide();
		}else{
			var htmlData = '';
			if(postData.func == 'photos'){
				htmlData += '<table><thead><tr><td>ID</td><td>AlbumId</td><td>OwnerId</td><td>OwnerName</td><td>Name</td><td>DirectUrl</td><td>ImageUrl</td><td>Location</td><td>Link</td><td>Description</td><td>Height</td><td>Width</td><td>CreatedDate</td><td>UpdatedDate</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';	
			}else if(postData.func == 'following'){
				htmlData += '<table><thead><tr><td>ID</td><td>CreatedDate</td><td>OwnerId</td><td>OwnerName</td><td>Latitude</td><td>Longitude</td><td>Message</td><td>PlaceTitle</td><td>Address</td><td>Distance</td><td>Type</td><td>ImageUrl</td><td>City</td><td>Country</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'events'){
				htmlData += '<table><thead><tr><td>ID</td><td>CreatedDate</td><td>OwnerId</td><td>OwnerName</td><td>Latitude</td><td>Longitude</td><td>Message</td><td>PlaceTitle</td><td>Address</td><td>Distance</td><td>Type</td><td>ImageUrl</td><td>City</td><td>Country</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'posts'){
				htmlData += '<table><thead><tr><td>ID</td><td>Name</td><td>Title</td><td>StartTime</td><td>UpdateTime</td><td>Message</td><td>Place</td><td>Picture</td><td>Likes</td><td>Share</td><td>Type</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'companies'){
				htmlData += '<table><thead><tr><td>ID</td><td>Name</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'groups'){
				htmlData += '<table><thead><tr><td>ID</td><td>CreatedDate</td><td>OwnerId</td><td>OwnerName</td><td>Latitude</td><td>Longitude</td><td>Message</td><td>PlaceTitle</td><td>Address</td><td>Distance</td><td>Type</td><td>ImageUrl</td><td>City</td><td>Country</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'status'){
				htmlData += '<table><thead><tr><td>Id</td><td>Text</td><td>DateTime</td><td>Likes</td><td>Place</td><td>Source</td><td>ImageUrl</td><td>LinkUrl</td><td>Name</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'videos'){
				htmlData += '<table><thead><tr><td>ID</td><td>Description</td><td>Name</td><td>Image</td><td>Source</td><td>CreatedDate</td><td>OwnerId</td><td>OwnerName</td><td>EmbedHtml</td><td>UpdatedDate</td><td>Duration</td><td>DirectLink</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'checkins'){
				htmlData += '<table><thead><tr><td>ID</td><td>CreatedDate</td><td>OwnerId</td><td>OwnerName</td><td>Latitude</td><td>Longitude</td><td>Message</td><td>PlaceTitle</td><td>Address</td><td>Distance</td><td>Type</td><td>ImageUrl</td><td>City</td><td>Country</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'audio'){
				htmlData += '<table><thead><tr><td>Name</td><td>EmailID</td><td>PhoneNumber</td><td>ID</td><td>ProfileUrl</td><td>ImageUrl</td><td>Status</td><td>Industry</td><td>Country</td><td>Location</td><td>Gender</td><td>DateOfBirth</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'mentions'){
				htmlData += '<table><thead><tr><td>Name</td><td>EmailID</td><td>PhoneNumber</td><td>ID</td><td>ProfileUrl</td><td>ImageUrl</td><td>Status</td><td>Industry</td><td>Country</td><td>Location</td><td>Gender</td><td>DateOfBirth</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'albums'){
				htmlData += '<div id="showalbumphoto"></div><table><thead><tr><td>ID</td><td>OwnerId</td><td>OwnerName</td><td>Title</td><td>Description</td><td>Location</td><td>Type</td><td>CreatedDate</td><td>UpdatedDate</td><td>CoverImageUrl</td><td>ImageCount</td><td>DirectoryUrl</td><td>View</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1, 'album');
				}	
				htmlData += '</table>';		
			}else if(postData.func == 'contact'){
				htmlData += '<table><thead><tr><td>Name</td><td>EmailID</td><td>PhoneNumber</td><td>ID</td><td>ProfileUrl</td><td>ImageUrl</td><td>Status</td><td>Industry</td><td>Country</td><td>Location</td><td>Gender</td><td>DateOfBirth</td></tr></thead>';
				for (var key in jsonobj.Data) {
					htmlData += createHorizontalTable(jsonobj.Data[key], key+1);
					<% if(session[:user_profile]['Provider'] == 'twitter' || session[:user_profile]['Provider'] == 'linkedin') %>
						j('#sendto').append('<option value="'+jsonobj.Data[key].ID+'">'+jsonobj.Data[key].Name+'</option>');
					<% end; %>
				}	
				htmlData += '</table>';
				
			}else if(postData.func == 'likes'){
				htmlData += '<table><thead><tr><td>ID</td><td>Name</td><td>Category</td><td>CreatedDate</td><td>Website</td><td>Description</td></tr></thead>';
				for (var key in jsonobj) {
					htmlData += createHorizontalTable(jsonobj[key], key+1);
				}
				htmlData += '</table>';
			}else{
				htmlData = getTable(jsonobj);
			}
	        j("#"+id).html(htmlData);
	        j('iframe').css({"width":"70px","height":"70px"});
       }
   },
   error:function(){
   	j("#"+id).hide();
	j("#"+id.replace('lr-', "lr-tab-")).hide();
   }});
   }
    function getTable(profile){
    	var data = '<table>';
		for (var key in profile) {
			data += '<tr><td class="profileLabel">'+key+'</td>';
			var value = (profile[key] != null) ? profile[key] :'';
			if(typeof value == "object"){
				data += '<td class="profileValue">'+createHorizontalTable(value)+'</td>';
			}else{
				data += '<td class="profileValue">'+value+'</td>';
			}
			data += '</tr>';
		}
		data += '</table>';
		return data;
    }
    function lrphotoprofile(albumid){
    	getAjaxRequest('showalbumphoto', {"access_token":"<%=session[:access_token]%>","func":'photos',"id":albumid});
    }
    function createHorizontalTable(profile, count, table){
    	var data = '';
    	if(typeof count == "undefined"){
    		count=0
    	}
    	if(count == '0'){
    		data += '<table><tr>';
	    	for (var key in profile) {
	    		var value = (profile[key] != null) ? profile[key] :'';
	    		if((key == '0' || key == '1' || key == '2' || key == '3' || key == '4' || key == '5' || key == '6' || key == '7') && (typeof value == "object")){
	    			data = '';
	    			return createHorizontalTable(value);
	    		}
	    		data += '<td>'+key+'</td>';
	    	}
	    	data += '</tr>';
    	}
    	data += '<tr>';
    	for (var key in profile) {
    		var value = (profile[key] != null) ? profile[key] :'';
    		if(typeof value == "object"){
				data += '<td>'+createHorizontalTable(value)+'</td>';
			}else{
				if(key == 'ImageUrl' || key == 'Small' || key == 'Square' || key == 'Large' || key == 'Profile' || key == 'Image' || key == 'Picture'){
					data += '<td><img style="width:70px;" src="'+value+'"/></td>';
				}else{
					data += '<td>'+value+'</td>';
				}
	    	}
    	}
    	if(table == 'album'){
			data += '<td><a onclick="lrphotoprofile(&quot;'+profile['ID']+'&quot;)">View</a></td>';
		}
    	data += '</tr>';
    	if(count == '0'){
    		data += '</table>';
    	}
		return data;
    }
    j(document).ready(function(){
    	j("#lr-tab-basic").show();
    });
</script>
