<%
 servayQuestion1 = (getSurvey[:CustomObject][:question1] != nil) ? getSurvey[:CustomObject][:question1] : 'Another name for Java';
  servayQuestion2 = (getSurvey[:CustomObject][:question2] != nil) ? getSurvey[:CustomObject][:question2] : 'scripting language mostly for the web';
  servayQuestion3 = (getSurvey[:CustomObject][:question3] != nil) ? getSurvey[:CustomObject][:question3] : 'When you use Java without compiling';
  servayAnswer1 = (getSurvey[:CustomObject][:answer1] != nil) ? getSurvey[:CustomObject][:answer1] : '';
  servayAnswer2 = (getSurvey[:CustomObject][:answer2] != nil) ? getSurvey[:CustomObject][:answer2] : '';
  servayAnswer3 = (getSurvey[:CustomObject][:answer3] != nil) ? getSurvey[:CustomObject][:answer3] : '';
%>
<h2>Example Survey</h2>
<form method="POST">
	<span class="survey-form-span"> 1. <%= servayQuestion1%></span>
	<input type="text" class="survey-form-hidden-text" style="display:none" value="<%= servayQuestion1%>" name="question1">
	<input type="text" class="survey-form-input-box" value="<%= servayAnswer1%>" name="answer1">
	<div style="clear:both;"></div>
	<span class="survey-form-span-answers survey-form-hide-content"></span>
	<br>
	<span class="survey-form-span">2. <%= servayQuestion2%></span>
	<input type="text" class="survey-form-hidden-text" style="display:none" value="<%= servayQuestion2%>" name="question2">
	<input type="text" class="survey-form-input-box" value="<%= servayAnswer2%>" name="answer2">
	<div style="clear:both;"></div><span class="survey-form-span-answers survey-form-hide-content"></span>
	<br>
	<span class="survey-form-span">3. <%= servayQuestion3%></span>
	<input type="text" class="survey-form-hidden-text" style="display:none" value="<%= servayQuestion3%>" name="question3">
	<input type="text" class="survey-form-input-box" value="<%= servayAnswer3%>" name="answer3">
	<div style="clear:both;"></div><span class="survey-form-span-answers survey-form-hide-content"></span>
	<br>
	<input type="submit" name="survey" id="submit-survey-form" value="Submit Answer">
	<input type="submit" name="edit" id="edit-survey-form" value="Edit Answer" onclick="showSurveySubmitForm(); return false;" class="survey-form-hide-content">
</form>
