<% content_for :body do %> <!-- Add Profile page content-->
<% getSurvey = @user_profile.custom_object_get_by_accountid(@LoginRadius[:objectId], session[:user_profile]['Uid']);
  showSurvey = true;
  if(getSurvey[:errorCode] != nil)
    showSurvey = false;
  end;
%>
<div class="lr-profile-frame lr-input-style">
	<div class="lr-profile-header">
		<%
 if (session[:user_profile]['ImageUrl'] != "")
        image_url = session[:user_profile]['ImageUrl'];
      else
        image_url = "assets/user.png";
      end;
%>
		<span class="lr-image-frame"> <img src="<%= image_url %>" alt="<%= session[:user_profile]['FirstName']%>"> </span>

		<div class="lr-heading">
			Hello, <span class="lr-user-name"><%= session[:user_profile]['FirstName']%></span>
		</div>

		<div class="lr-profile-info">

			<div class="lr-email-info">
				<span class="lr-value lr-em"><%= session[:user_profile]['Email']%></span>
			</div>

			<div class="lr-uid-info">
				<span class="lr-label">UID: </span>
				<span class="lr-value"><%= session[:user_profile]['Uid']%></span>
			</div>
		</div>

		<!-- Add Menu tab items -->
		<%
 profileTab = accountLinkTab = passwordTab = surveyTab = '';
      if(session[:tab] == 'accountLink')
        accountLinkTab = ' lr-tab-active';
      elsif(session[:tab] == 'password')
        passwordTab = ' lr-tab-active';
      elsif(session[:tab] == 'survey')
        surveyTab = ' lr-tab-active';
      else
        profileTab = ' lr-tab-active';
      end;
%>
		<div class="lr-menu-buttons">
			<span class="lr-buttons<%= profileTab%>" data-tab="lr-profile">Profile</span>
			<span class="lr-buttons<%= accountLinkTab%>" data-tab="lr-account-prov">Account Providers</span>
			<span class="lr-buttons<%= passwordTab%>" id="lr-password-tab" data-tab="lr-password">Set Password</span>
			<%if showSurvey %>
			<span class="lr-buttons<%= surveyTab%>" id="lr-survey-tab" data-tab="lr-syrvey">Survey</span>
			<% end; %>
			<a href="\logout"><span class="lr-logout">Logout</span></a>
		</div>
	</div>
	<div id="lr-profile" class="lr-frame lr-align-left<%= profileTab%>">
		<%= render 'includes/profileform' %>
	</div>
	<div id="lr-account-prov" class="lr-frame lr-account-prov lr-align-left<%= accountLinkTab%>">
		<%= render 'includes/accountlinking' %>
	</div>
	<div id="lr-password" class="lr-frame lr-password lr-align-left<%= passwordTab%>">
		<%= render 'includes/passwordform' %>
	</div>
	<!-- Add Survey tab Content -->
	<%if showSurvey %>
	<div id="lr-syrvey" class="lr-frame lr-align-left<%= surveyTab%>">
		<%= render 'includes/servayform'%>
	</div>
	<% end; %>
</div>
<% end; %>
<!---//End-wrap---->
<% content_for :footer do %>
<script type="text/javascript">
	j(document).ready(function() {
		show_birthdate_date_block();
		LoginRadiusRaaS.$hooks.setProcessHook(function() {
			j('#fade').show();
		}, function() {
			j('#fade').hide();
			if (j('.lr_account_linking') && j('#interfacecontainerdiv').text() != '') {
				linking();
			}
		});
		LoginRadiusRaaS.init(raasoption, 'accountlinking', function(response) {
			if (response.isPosted) {
				window.location.href = window.location;
			} else {
				var send_data = 'value=accountLink&token=' + response;
				var handle = function(data) {
					var data = JSON.parse(data);
					if (data.status == 'success') {
						handleResponse(true, data.message);
					} else if (data.status == 'error') {
						handleResponse(true, data.message, true);
					}
					j('#fade').hide();
				}
				var array = {};
				array['value'] = 'accountLink';
				array['token'] = response;
				get_form_for_hidden_value(array);
			}

		}, function(response) {
		}, "interfacecontainerdiv");

		LoginRadiusRaaS.passwordHandleForms("setpasswordbox", "changepasswordbox", function(israas) {
			if (israas) {
				j('#lr-password-tab').html("Change Password");
				j("#changepasswordbox").show();
			} else {
				j('#lr-password-tab').attr("Set Password");
				j("#setpasswordbox").show();
			}
		}, function() {
			document.forms['setpassword'].action = '';
			document.forms['setpassword'].submit();
		}, function(errors) {
			var message_header = document.getElementById('lr-passwordbox-popup-message');
			message_header.innerHTML = errors[0].description?errors[0].description:errors[0].message;
		}, function() {
			document.forms['changepassword'].action = '';
			document.forms['changepassword'].submit();
		}, function(errors) {
			var message_header = document.getElementById('lr-passwordbox-popup-message');
			message_header.innerHTML = errors[0].description?errors[0].description:errors[0].message;
		});
	}); 
</script>
<% end; %>
