<% render 'includes/header' %>
<% render 'includes/footer' %>
<!DOCTYPE html>
<html>
	<head>
		<title>LoginRadius | User Registration Demo</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		<%= yield :head %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
		<%= csrf_meta_tags %>

	</head>
	<body>
		<%= yield :header %>
	
		<%= yield :body %>
		<%= yield :footer %>

	</body>
</html>
